@model MVCStock.Models.Entity.tblurunler

@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h2>Yeni Ürün Ekleme</h2>
    <br />
    <label>Ürün Adı</label>
    @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
    <br />
    <label>Marka Adı</label>
    @Html.TextBoxFor(x => x.marka, new { @class = "form-control" })
    <br />
    <label>Ürünün Stoğu</label>
    @Html.TextBoxFor(x => x.stok, new { @class = "form-control" })
    <br />
    <label>Alış Fiyatı</label>
    @Html.TextBoxFor(x => x.alisfiyat, new { @class = "form-control" })
    <br />
    <label>Satış Fiyatı</label>
    @Html.TextBoxFor(x => x.satisfiyat, new { @class = "form-control" })
    <br />
    <label>Ürünün Kategorisi</label>
    @Html.DropDownListFor(x=>x.tblkategori.id,(List<SelectListItem>)ViewBag.drop, 
    new {@class="form-control"})
    <br />
    <button class="btn btn-success">Kaydet</button>

</form>

